@page {
    size: A4;
    margin: 0;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("fuentes/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --primary-color: #0359C9;
    --primary-light: #03BCC9;
    --success-color: #03C973;
    --text-color: #363636;
    --background-color: #F4E9CD;
    --card-background: #ffffff;
    --general-card-color: #fffce6;
    --ethernet-card-color: #e9fff5;
    --turquoise-7716: #00968F;
    --gray-423: #898D8D;
    --white: #ffffff;
}

@media print {

    html,
    body {
        margin: 0;
        padding: 0;
        width: 210mm;
        height: 297mm;
    }

    .page {
        box-sizing: border-box;
        width: 210mm;
        /* 210mm - 2*10mm de márgenes */
        height: 100%;
        /* 297mm - 2*10mm de márgenes */
        margin: 0;
        /* centrado horizontal */
        display: flex;
        flex-direction: column;
    }

    .content {
        flex: 1;
        padding: 60px 8px 60px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 15px 6px;
    }

    .consultas,
    .tests {
        margin: 15px 5mm;
        /* menos margen lateral */
        flex: 1 1 0;
        /* que ocupen ~media página cada una */
    }
}

@media screen {
    .page {
        box-sizing: border-box;
        max-width: 800px;
        min-height: 100vh;
        /* lo que te guste en pantalla */
        margin: 0 auto;
    }
}

* {
    font-family: "Montserrat", sans-serif;
}

.header {
    background: var(--turquoise-7716);
    width: 100%;
    height: 150px;
    align-items: center;
    display: flex;
}

.footer {
    background: var(--turquoise-7716);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    margin-top: 0;
    text-align: center;
}

.logo {
    border-radius: 100%;
    width: 150px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-style: none;
}

.logo2 {
    width: 150px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-style: none;
    margin: auto;
}

.resultado {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: var(--white);
}

.derecha {
    margin-left: auto;
    margin-right: 10px;
}

.info {
    font-size: 12px;
    color: var(--white);
    margin-right: 5px;
}

.info2 {
    font-size: 12px;
    color: var(--white);
}

.fecha {
    text-align: right;
    margin-right: 5px;
}

.consultas,
.tests {
    border-style: none;
    background-color: var(--general-card-color);
    border-radius: 25px;
    padding: 20px 24px 24px;
    margin: 15px;
    box-sizing: border-box;
    flex: 0 0 auto;
}

p.cons,
p.test {
    color: var(--text-color);
}

.main {
    display: flex;
    flex: 2 1 0;
    justify-content: space-between;
    align-items: flex-start;
}

.page {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border-style: none;
    flex-direction: column;
    display: flex;
}

.badge-pass {
    background: var(--success-color);
    color: #fff;
}

.badge-info {
    background: var(--primary-light);
    color: #fff;
}