<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reporte</title>
	<link rel="stylesheet" href="estilos.css">
</head>

<body>
	<div class="page">
		<div class="header">
			<img class="logo" src="img/logo_ram.jpg">
			<h1 class="titulo">Certificado de equipo ONT</h1>
			<!-- 46485454C0FB906B -->
			<div class="derecha">
				<p class="info">Numero de serie: 464854549D794ED8
				</p>
				<p class="info fecha">
					06/02/2026
				</p>
			</div>
		</div>
		<div class="content">
			<div class="main">
				<div class="consultas">
					<h2> Información general</h2>
					<p class="cons">Modelo: HG6145F </p>
					<p class="cons">Numero de serie: 464854549D794ED8 </p>
					<p class="cons">Dirección MAC: EC:E6:A2:79:4E:D8 </p>
					<p class="cons">Versión de software: RP4375 </p>
					<p class="cons">WiFi 2.4GHz SSID: Totalplay-2.4G-4ed8 </p>
					<p class="cons">WiFi 5GHz SSID: Totalplay-5G-4ed8</p>
					<p class="cons">Contraseñas WiFi: KsxJqXpXzmHc7dEa </p>
					<p class="cons">Estación: 25 </p>
				</div>
				<div class="tests">
					<h2> Resultados pruebas</h2>
					<p class="test">Reset de fábrica: PASS </p>
					<p class="test">Ping: PASS </p>
					<p class="test">Software update: PASS </p>
					<!-- Quizá indicar cuantos puertos hay -->
					<p class="test">Puertos USB: FAIL </p>
					<p class="test">TX: False </p>
					<p class="test">RX: False </p>
					<p class="test">WiFi 2.4Ghz: True </p>
					<p class="test">WiFi 5GHz: True </p>
				</div>
			</div>
			<div class="resultado">
				<img class="logo2" src="img/logo_ram.jpg">
			</div>
		</div>
		<div class="footer">
			<p class="info2"><strong>RAM Electronics</strong></p>
			<p class="info2">"Restaurando el planeta, apuntando en la dirección correcta."</p>
			<p class="info2">https://www.ramelectronics.com.mx/</p>
			<p class="info2"> 06/02/2026 </p>
		</div>
	</div>
</body>

</html>