<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reporte</title>
	<link rel="stylesheet" href="estilos.css">
</head>

<body>
	<div class="page">
		<div class="header">
			<img class="logo" src="img/logo_ram.jpg">
			<h1 class="titulo">Certificado de equipo ONT</h1>
			<!-- 46485454C0FB906B -->
			<div class="derecha">
				<p class="info">Numero de serie: {{ sn }}
				</p>
				<p class="info fecha">
					{{ fecha_diagnostico }}
				</p>
			</div>
		</div>
		<div class="content">
			<div class="main">
				<div class="consultas">
					<h2> Información general</h2>
					<p class="cons">Modelo: {{ model }} </p>
					<p class="cons">Numero de serie: {{ sn }} </p>
					<p class="cons">Dirección MAC: {{ mac }} </p>
					<p class="cons">Versión de software: {{ sft_v }} </p>
					<p class="cons">WiFi 2.4GHz SSID: {{ w24ssid }} </p>
					<p class="cons">WiFi 5GHz SSID: {{ w5ssid }}</p>
					<p class="cons">Contraseñas WiFi: {{ wifi_pass }} </p>
					<p class="cons">Estación: {{ estacion }} </p>
				</div>
				<div class="tests">
					<h2> Resultados pruebas</h2>
					<p class="test">Reset de fábrica: {{ fact_reset }} </p>
					<p class="test">Ping: {{ ping }} </p>
					<p class="test">Software update: {{ sft_u }} </p>
					<!-- Quizá indicar cuantos puertos hay -->
					<p class="test">Puertos USB: {{ usb }} </p>
					<p class="test">TX: {{ fibra_tx }} </p>
					<p class="test">RX: {{ fibra_rx }} </p>
					<p class="test">WiFi 2.4Ghz: {{ w24_test }} </p>
					<p class="test">WiFi 5GHz: {{ w5_test }} </p>
				</div>
			</div>
			<div class="resultado">
				<img class="logo2" src="img/logo_ram.jpg">
			</div>
		</div>
		<div class="footer">
			<p class="info2"><strong>RAM Electronics</strong></p>
			<p class="info2">"Restaurando el planeta, apuntando en la dirección correcta."</p>
			<p class="info2">https://www.ramelectronics.com.mx/</p>
			<p class="info2"> {{ fecha_certificado }} </p>
		</div>
	</div>
</body>

</html>